<div class="card" *ngIf="(mainUserInfo$ | async) as mainUserInfo">
  <img src="{{mainUserInfo.ownerInfo[0].avatar_url}}" class="card-img-top" alt="avatar">
  <div class="card-header">
    <h4 class="card-title">{{mainUserInfo.ownerInfo[0].login}}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of repositories: {{mainUserInfo.reposCount}}</li>
    <li class="list-group-item">URL:
      <a href="{{mainUserInfo.ownerInfo[0].html_url}}" target="_blank">
        {{mainUserInfo.ownerInfo[0].html_url}}</a></li>
  </ul>
</div>

